@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Lemon&family=Lobster&display=swap");

/*ROOT*/

:root {
  --primary-color: #0e7c7b;
  --secondary-color: #17bebb;
  --accent1-color: #d4f4dd;
  --accent2-color: #d62246;

  --heading-font: "Grape Nuts";
  --paragraph-font: Lemon, Lobster, sans-serif;

  --headline-color-on-white: #0e7c7b;
  --headline-color-on-color: #ffffff;
  --paragraph-color-on-white: #0e7c7b;
  --paragraph-color-on-color: #ffffff;
  --paragraph-background-color: #0e7c7b;
  --nav-link-color: #ffffff;
  --nav-background-color: #4b1d3f;
  --nav-hover-link-color: #ffffff;
  --nav-hover-background-color: #0e7c7b;
}

/*Elements*/

body {
  background-color: #fcfbfb;
  font-family: var(--paragraph-font);
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  background: rgba(0, 128, 0, 0.3);
}

h2 {
  margin: 0;
}

nav a {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
  padding: 35px;
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a:hover {
  background-color: #0e7c7b;
  color: #ffff;
}

footer {
  background-color: #0e7c7b;
  color: #fff;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: #fcfbfb;
  text-decoration: none;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}

/*Class*/

.book,
.join {
  text-decoration: none;
  background-color: #17bebb;
  font-family: var(--paragraph-font);
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #d62246;
  color: #ffff;
}

.msg {
  background-color: #0e7c7b;
  color: #ffff;
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.logo {
  width: 80px;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.home-title {
  color: #4b1d3f;
  font-family: var(--heading-font);
  font-size: 4em;
  margin-top: 10px;
}

.button-box {
  text-align: center;
}

.msg p {
  font-family: var(--paragraph-font);
  font-size: 0.8em;
  padding-bottom: 15px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #d9c2a3;
  width: 100%;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.mountains {
  width: 100%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
}

.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}

.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}

.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}

.main {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
}

.utah-river-text {
  background-color: #f4bf6f;
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.idaho-river-text {
  background-color: #cab2a2;
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.arizona-river-text {
  background-color: #7eabb0;
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.utah-river-img {
  background-color: #f4bf6f;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  transition: transform 0.5s;
}

.idaho-river-img {
  background-color: #cab2a2;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  transition: transform 0.5s;
}

.arizona-river-img {
  background-color: #7eabb0;
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  transition: transform 0.5s;
}

.utah-river-img:hover,
.idaho-river-img:hover,
.arizona-river-img:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #6f7364;
}

.riverPhoto {
  width: 100%;
  object-fit: cover;
}

.hero-text {
  color: #ffffff;
  background: rgba(0, 128, 0, 0.7);
}

.button {
  background-color: #51688c;
  padding: 1.5rem;
  border-radius: 0.5em;
  color: #ffffff;
}

/*ID's*/

#content {
  max-width: 1600px;
  margin: 0 auto;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
  color: #ffff;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

#background {
  height: 725px;
  background-color: #dac2a4;
  margin-bottom: 100px;
  grid-column: 1/11;
  grid-row: 4/9;
}

#hero-img {
  width: 100%;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  /* make this element invisible until we are ready for it */
  display: none;
}
.moveDown {
  margin-top: 3em;
}
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
            By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
            between the labels and their text fields */
  margin-left: 0.5em;
}

/*Querys*/

@media screen and (max-width: 900px) {
  header {
    background-color: #4b1d3f;
  }
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  #hero-msg h1 {
    color: #6f7364;
  }
  .home-title {
    font-size: 50px;
  }
  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
  .main {
    margin-top: 5rem;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .utah-river-text {
    background-color: #f4bf6f;
    grid-row: 4/5;
    grid-column: 1/3;
  }

  .idaho-river-text {
    background-color: #cab2a2;
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .arizona-river-text {
    background-color: #7eabb0;
    grid-row: 6/7;
    grid-column: 1/3;
  }

  .utah-river-img {
    background-color: #f4bf6f;
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .idaho-river-img {
    background-color: #cab2a2;
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .arizona-river-img {
    background-color: #7eabb0;
    grid-row: 5/6;
    grid-column: 1/3;
  }
  .hero-text {
    color: #000;
    padding: 0 2rem;
    margin: 0 2rem;
  }
}
